---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import { Image, Picture } from "astro:assets";
import Hero from "~/components/Hero.astro";
import Button from "~/components/Button.astro";
import Faq from "~/components/Faq.astro";
import CallToAction from "~/components/CallToAction.astro";
import ShowCats from "~/components/ShowCats.astro";
import ShowBlogs from "~/components/ShowBlogs.astro";
import Heading from "~/components/Heading.astro";
import CatNameGenerator from "~/components/CatNameGenerator.astro";

// Images
import CatBackground from "~/assets/images/pexels-thirdman-8942612.webp";
import CatOne from "~/assets/images/pexels-chevonrossouw-2558605.jpg";
import CatTwo from "~/assets/images/pexels-minan1398-1003994.jpg";
import LaptopBG from "~/assets/images/laptopbg.png";
---

<Layout title="Home" pageTitle="Home" description="What is this?">
	<Section class:list={"relative"}>
		<Picture
			src={LaptopBG}
			alt="laptop on a desk"
			class:list={"absolute inset-0 w-full h-full object-cover"}
			loading={"eager"}
			fetchpriority={"high"}
		/>
		<div class="bg-gradient-to-r from-violet-600/50 to-purple-300/50 absolute inset-0"></div>
		<Container class:list={"relative z-10 h-full lg:min-h-svh lg:h-svh"}>
			<div class="flex items-center h-full">
				<div class="ml-auto">
					<div class="prose prose-xl prose-invert text-fuchsia-50 lg:text-right text-balance">
						<h1 class="text-5xl lg:text-8xl mb-0">What is this?</h1>
						<p>
							Graduation Cat is a developer, artist, and storyteller who makes games and things for games.
						</p>
						<p>
							Works published under the Graduation Cat name are compiled here.
						</p>
					</div>
				</div>
			</div>
		</Container>
	</Section>

	<Section>
		<Container>
			<Heading>
				<h2 slot="heading-title" class="h2 text-purple-900">Featured</h2>
			</Heading>

			<ShowBlogs posts={["cat-crazy", "house-tileset"]} />
		</Container>
	</Section>
</Layout>
