---
import { Image } from "astro:assets";
const { image, imageAlt, id } = Astro.props;
---

<div>
	<Image src={image} alt={imageAlt} class:list={"rounded-xl aspect-[4/3] object-cover object-center"} transition:name={`post-image-${id}`} />
</div>
