---
import { Image } from "astro:assets";
import Logo from "~/assets/images/catlogo.svg";
import catLogo from "~/assets/images/catlogo.png";
import { siteSlogan } from "~/data/config.js";
---

<div class="flex items-center gap-2 lg:gap-6">
	<Image src={catLogo} alt="Cat" class:list={"h-34 w-32 pt-2 fixed"} />
</div>
