---
import { getEntries } from "astro:content";
import CardBlogPost from "./CardBlogPost.astro";
const { posts = [] } = Astro.props;

const assetEntries = await getEntries(posts.map((id: string) => ({ collection: "assetPosts", id: id })));
const gameEntries = await getEntries(posts.map((id: string) => ({ collection: "gamePosts", id: id })));
---

<div>
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-16 xl:gap-24">
		{gameEntries.map((post) => <CardBlogPost post={post} />)}
		{assetEntries.map((post) => <CardBlogPost post={post} />)}
	</div>
</div>
